@model IEnumerable<BlogApp.Models.BlogPost>

@using BlogApp.Enums
@using BlogApp.Services.Interfaces

@inject IImageService _ImageService
@inject IBlogPostService _BlogPostService




<!-- Start Author Area  -->
<div class="axil-author-area axil-author-banner bg-color-grey">




    <div class="container">

        <section class="container py-5 mt-5">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col col-md-4">
                    <article class="h-100 p-3">
                        <div class="thumbnail">
                            <img src="~/img/danny.jpg" alt="Danny Headshot" class="rounded-circle  img-fluid">
                        </div>


                    </article>
                </div>
                <div class="col col-md-8">
                    <article class="h-100  p-5">
                        <div class="col">
                            <img src="~/img/BlogByDannyLogo.svg" alt="Blog by Danny Logo" class="mainLogo align-content-center mx-auto" />
                        </div>
                        <div class="author-info">
                            <h1 class="title">Danny Schellenberger</h1>
                            <p class="display-6 mb-5">Full-Stack Web Developer</p>
                        </div>
                        <p class="b1 description">As a web developer, I aim to find innovative solutions to complex problems. My professional background as a graphic designer allows me to notice fine details and ensure that my code is legible and clearly written.</p>
                        <div class="content">
                            <ul class="social-icon icon-rounded-transparent md-size">
                                <li>
                                    <a href="https://www.linkedin.com/in/danny-schellenberger-9b4b0166/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/RokitDan" target="_blank"><i class="fab fa-github"></i></a>
                                </li>
                            </ul>

                        </div>
                    </article>
                </div>
                <div></div>
            </div>
        </section>

    </div>
</div>
<!-- End Author Area  -->
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">What's on My Mind</h2>
                </div>
            </div>

            <partial name="/BlogPosts/_BlogPostList" />

            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <!-- Start Sidebar Area  -->
                <div class="sidebar-inner">
                    <!-- Start Search Widget  -->
                    <div class="axil-single-widget widget widget_search mb--30">
                        <h5 class="widget-title">Search</h5>
                        <form asp-action="SearchIndex" asp-controller="BlogPosts">
                            <div class="axil-search form-group">
                                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>

                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_categories mb--30">
                        <h5 class="widget-title">Categories</h5>
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            @foreach (Category category in (await _BlogPostService.GetCategoriesAsync()).Take(4))
                            {



                                <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">
                                    <div class="col">
                                        <div class="card">
                                            <div>
                                                <img src="@_ImageService.ConvertByteArrayToFile(category.ImageData!,category.ImageType!,(int)DefaultImage.Category)">
                                            </div>
                                            <div class="card-body text-center redCardBG">
                                                <h5 class="card-title text-white">@category.Name</h5>
                                            </div>
                                        </div>
                                    </div>
                                </a>


                            }
                        </div>
                    </div>




                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_categories mb--30">
                        <h5 class="widget-title">Popular Blog Posts</h5>
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            @foreach (BlogPost blogPost in await _BlogPostService.GetPopularBlogPostAsync(4))
                            {
                                <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@blogPost.Slug">
                                    <div class="col">
                                        <div class="card">
                                            <div>
                                                <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!,blogPost.ImageType!,(int)DefaultImage.Category)">
                                            </div>
                                            <div class="card-body text-center redCardBG">
                                                <h5 class="card-title text-white">@blogPost.Title</h5>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            }
                        </div>
                        <!-- End Post List  -->

                    </div>
                    <!-- End Single Widget  -->
                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_categories mb--30">
                        <h5 class="widget-title">Recent Blog Posts</h5>
                        <div class="row row-cols-1 row-cols-md-2 g-4">

                            @foreach (BlogPost blogPost in await _BlogPostService.GetRecentBlogPostAsync(4))
                            {
                                <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@blogPost.Slug">
                                    <div class="col">
                                        <div class="card">
                                            <div>
                                                <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!,blogPost.ImageType!,(int)DefaultImage.Category)">
                                            </div>
                                            <div class="card-body text-center redCardBG">
                                                <h5 class="card-title text-white">@blogPost.Title</h5>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            }
                        </div>
                    </div>
                    <!-- End Post List  -->
                </div>

            </div>
            <!-- End Sidebar Area  -->



        </div>
    </div>
</div>

@section Scripts {
@*    <script>
        $("blogPostListZone").load("/BlogPosts/CurrentBlogPostList");
    </script>*@

    @*    <script>
        <script>
            $.ajax({
                type: "GET",
                url: "@Url.Action("/BlogPosts/CurrentBlogPostList")",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                },
                error: function (req, status, error{
                    console.log(status)
                             })
            })
    </script>*@

}